#header {
    background-color: #4D4D4D;
    text-align: center;
    top: 0px;
    width:100%;
    height: 7%;
    position: fixed;
    color: #FCFCFC;
    z-index: 999;
}

#container {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    padding: 0px;
}

#pageContent {
    position: absolute;
    width: 100%;
    top: 7%;
    left: 0px;
    padding: 0px;
    bottom: 8%;
}

#footer {
    position: fixed;
    background-color: #4D4D4D;
    height: 8%;
    width: 100%;
    padding: 5px;
    bottom: -15px;
    text-align: center;
    z-index: 999;
}

#map_canvas {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 400px;
}

#summaryContent {
    width: 100%;
    position: absolute;
    padding: 5px;
    text-align: center;
}

#directionsContent {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    text-align: center;
    width: 100%;
}

#userContent {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    text-align: center;
    width: 100%;
}

#summaryBtn {
    background-color: #f00;
    height: 90%;
    max-width: 30%;
    bottom: 0;
    position: absolute;
    background-color: #5D5D5D;
    border-radius: 15px;
}

#directionsBtn {
    background-color: #0f0;
    float: center;
    height: 90%;
    max-width: 30%;
    bottom: 0;
    position: absolute;
    left: 34%;
    background-color: #5D5D5D;
    border-radius: 15px;
}

#userBtn {
    background-color: #00f;
    float: right;
    height: 90%;
    max-width: 30%;
    bottom: 0;
    position: absolute;
    left: 66%;
    background-color: #5D5D5D;
    border-radius: 15px;
}

#summaryResults {
    position: absolute;
    width: 100%;
    visibility: visible;
    text-align: center;
}

#routeResults {
    position: absolute;
    width: 100%;
    visibility: visible;
}

#direcionResults {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

.input-append {
    width: 100%;
}

.icon-white {
    position:relative;
    top:20%
}
