body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
}

* {
    margin: 0;
}

html {
    margin: 0;
}

#map_canvas {
    float: right;
    width: auto;
}

#sidebar {
    float: left;
    width: 255px;
    padding: 10px;
}