body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #00B7FF;
}

* {
    margin: 0;
}

html {
    margin: 0;
}

h1 {
    text-align: center;
}

#map_canvas {
    float: right;
    width: auto;
    position: fixed;
    bottom: 0;
    border-left: thick solid #E8940C;
}

#sidebar {
    float: left;
    width: 380px;
    padding: 10px;
}

#buttonCtrl {
    text-align: center;
}

#sidebarContent {
    padding-left: 20px;
}

#stopSummaryContent {
    position: absolute;
    top: 130px;
}

#directionsContent {
    position: absolute;
    top: 130px;
    visibility: hidden;
}

#scheduleContent {
    position: absolute;
    top: 130px;
    visibility: hidden;
}

#userContent {
    position: absolute;
    top: 130px;
    visibility: hidden;
}

#floatingCtrl {
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
}

.result {
    /*padding-bottom: 5px;
    padding-top: 5px;*/
    padding: 5px 5px;
}

.input-prompt {
  position: absolute;
  font-style: italic;
  color: #aaa;
  margin: 0.2em 0 0 0.5em;
}