div#container
	div#header
		h1 OC Transpo App

	div#pageContent
		div#summaryContent
		div#directionsContent
		div#userContent
		div#map_canvas

	div#footer
		div#summaryBtn
			p Summary
		div#directionsBtn
			p Directions
		div#userBtn
			p User