doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(src='/js/client_map.js')
  body
    block content