div#sidebar
    div(onclick="Sidebar.switchMode(Sidebar.modes.ABOUT)")
        h1 OC Transpo App
    br
    div#buttonCtrl
        button(class='btn btn-custom', onclick="Sidebar.switchMode(Sidebar.modes.SUMMARY)",
            title='Get trips for a single route')
            span(class='icon-arrow-down')
        button(class='btn btn-custom', onclick="Sidebar.switchMode(Sidebar.modes.DIRECTIONS)",
            title='Get transit directions')
            span(class='icon-road')
        button(class='btn btn-custom', onclick="Sidebar.switchMode(Sidebar.modes.USER)",
            title='Access user information')
            span(class='icon-user')
    br
    br
    div#sidebarContent
        div#stopSummaryContent
            h5 Get route summary for stop
            div.input-append
                input(type='text', id='stopID', class='sidebarText', placeholder="Stop ID or Name…")
                button(id='submitStopByID', class='btn btn-custom') Go
            br
            div#addFavStopContainer
            br
            div#favStops
            div#favRoutes
            br
            div#summaryResults.result
            br
            div#routeResults.result

        div#directionsContent
            h5 Get directions
            div
                input(type='text', id='directionsTo', class='sidebarText', placeholder="From…")
                br
                input(type='text', id='directionsFrom', class='sidebarText', placeholder="To…")
                br
                button(id='getDirections', class='btn btn-custom') Go
            br
            div#directionsResults

        div#userContent
            h3 User options
            br
            h4 Login
            div#userInputs
                input(type='text', id='loginName', class='sidebarText', placeholder="Username")
                br
                input(type='password', id='loginPassword', class='sidebarText', placeholder="Password")
                br
                button(id='login', class='btn btn-custom') Login
            br
            br
            h4 Register
            div#userInputsRegister
                input(type='text', id='registerName', class='sidebarText', placeholder="Username")
                br
                input(type='password', id='registerPassword1', class='sidebarText', placeholder="Password")
                br
                input(type='password', id='registerPassword2', class='sidebarText', placeholder="Confirm password")
                br
                button(id='register', class='btn btn-custom') Register
            div#userPanel   

        div#userContentLoggedIn
            div#userPanelLoggedIn

        div#aboutContent
            h3 About Us
            div
                br
                p Designed for COMP2406 at Carleton University
                br
                p Tim Thornton 100822254 
                p Sehwan Lee 100835325

script(src='/js/sidebar.js')
script(src='/js/user.js')
