#sidebar
    br
    p Get route summary for stop
    input(type='text', id='stopID')
    button(id='submitStopByID') Get summary
    br
    p Get trips for route
    input(type='text', id='routeNo')
    button(id='submitRouteByID') Get trips
    script(src='/js/sidebar.js')
