div#sidebar
    h1 OC Transpo App
    br
    div#buttonCtrl
        button(class='btn', onclick="Sidebar.switchMode(Sidebar.modes.SUMMARY)",
            title='Get trips for a single route')
            span(class='icon-arrow-down')
        button(class='btn', onclick="Sidebar.switchMode(Sidebar.modes.DIRECTIONS)",
            title='Get transit directions')
            span(class='icon-road')
        button(class='btn', onclick="Sidebar.switchMode(Sidebar.modes.USER)",
            title='Access user information')
            span(class='icon-user')
    br
    br
    div#sidebarContent
        div#stopSummaryContent
            h5 Get route summary for stop
            div.input-append
                input(type='text', id='stopID', class='sidebarText', placeholder="Stop ID or Name…")
                button(id='submitStopByID', class='btn') Go
            br
            div#summaryResults.result
            br
            div#routeResults.result

        div#directionsContent
            h5 Get directions
            div.input-append
                input(type='text', id='directionsTo', class='sidebarText', placeholder="From…")
                br
                input(type='text', id='directionsFrom', class='sidebarText', placeholder="To…")
                br
                button(id='getDirections', class='btn') Go
            br
            div#directionsResults

        div#userContent
            h5 User options
            br
            h4 Login
            div#userInputs.input-append
                input(type='text', id='loginName', class='sidebarText', placeholder="Username")
                br
                input(type='password', id='loginPassword', class='sidebarText', placeholder="Password")
                br
                button(id='login', class='btn') Login
            br
            br
            h4 Register
            div#userInputsRegister.input-append
                input(type='text', id='registerName', class='sidebarText', placeholder="Username")
                br
                input(type='password', id='registerPassword1', class='sidebarText', placeholder="Password")
                br
                input(type='password', id='registerPassword2', class='sidebarText', placeholder="Confirm password")
                br
                button(id='register', class='btn') Register
            div#userPanel   

        div#userContentLoggedIn
            div#userPanelLoggedIn    

script(src='/js/sidebar.js')
script(src='/js/user.js')
